.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.list-container{
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 6px;
    border: 2px black solid;
    padding: 6px;
    position: relative;
    width: fit-content;
}

.children{
    position: relative;
}

.parent-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
